<%- include('parts/top.ejs')%>
<br>
<br>
<br>
<br>
<br>


<div class="container">
  <% if (message) { %>
    <div class="alert alert-success">
      <%= message %>
     </div>
     <%}%>
    <div class="row">
      <div class="col">
        <img style="height: 30em;" src="/uploads/<%= book.image %>" alt="client image">
      </div>
      <div class="col">
        <h1><%= book.title %></h1>
        <h4><%= book.author %></h4>
        <span>$<%= book.price %></span>
        <p><%= book.description %></p>
      </div>
      

      
    </div>
  </div>
  <br>
<br><br>
<br><br>

<br><br>
<br>
<%- include('parts/footer.ejs')%>